# {{ ansible_managed }}
{% for input in fluentbit_inputs %}
{% if input.type | default('tail') == 'tail' %}
[INPUT]
    Name          tail
    Path          {{ input.path }}
    Tag           {{ input.tag }}
    Parser        {{ input.parser | default('syslog-rfc3164') }}
    storage.type  filesystem
{% if input.multiline | default(false) %}
    multiline.parser {{ input.multiline_parser }}
{% endif %}
{% elif input.type == 'winlog' %}
[INPUT]
    Name         winlog
    Channels     {{ input.channels | join(',') }}
    Tag          {{ input.tag }}
    Interval_Sec {{ input.interval_sec | default(1) }}
    DB           {{ fluentbit_buffer_path }}\\{{ input.db }}
{% endif %} 

{% endfor %}
